.container{
    max-width: 1200px;
    margin: auto;
}
.titleA{
    font-size: 32px;
    line-height: 43px;
    border-bottom: 1px solid #000;
    margin-top: 48px;
    span{
        color: #A00404;
    }
}
.titleB{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    line-height: 45px;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    span{
        color: #FFFFFF;
    }
}
.bg-2 {
    background: #415165;
    padding-top: 24px;
    padding-bottom: 36px;
    margin-top: 72px;
    li{
        color: #FFFFFF;
    }
}