@import "reset";

@mixin fs($sizeA, $sizeB){
    font-size: $sizeA;
    line-height: $sizeB;
} 

.containerA{
    max-width: 1200px;
    margin: auto;
    span{
        color: #A00404;
        @include fs(24px, 32px);
        margin-left: 16px;
    }
}
.containerB{
    color: #FFFFFF;
    background-color:#415165;
    padding-top: 24px;
    padding-bottom: 32px;
    span{
        @include fs(24px, 32px);
        margin-left: 16px;
    }
}


.header{
    h1{
        @include fs(80px, 106px);
        border-bottom: 2px solid #000000;
        margin-top: 37px;
    }
    img{
        margin: 48px 0;
    }
    h2{
        @include fs(32px, 43px);
        border-bottom: 2px solid #000000;
        margin-bottom: 16px;
    }
    .education{
        margin: 72px 0px;
    }
    ul, p{
        @include fs(24px, 36px);
        margin-bottom: 24px;
    }
    
}

.skillA{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        width: 996px;
        text-align: center;
        @include fs(32px, 45px);
        border-bottom: 1px solid #FFFFFF;
        margin-bottom: 45px;
    }
    ul{ 
        @include fs(24px, 36px);
        border-left: 1px solid #FFFFFF;
        padding-left: 24px;
    }
}

.skillB{
    h2{
        text-align: center;
        @include fs(32px, 43px);
        margin-top: 72px;
        border-bottom: 2px solid #000000;
    }
    ul{
        margin-top: 16px;
        margin-bottom: 72px;
        margin-left: 24px;
        padding-left: 24px;
        border-left: 1px solid #000000;;
        li{
            @include fs(32px, 45px);
            margin-bottom: 24px;
        }
        p{
            width: 642px;
            @include fs(20px, 30px);
            margin-top: 8px;
            margin-bottom: 24px;
        }
    }
}

.footer{
    text-align: center;
    h2{
        max-width: 1200px;
        margin: auto;
        @include fs(32px, 45px);
        border-bottom: 1px solid #FFFFFF;
        margin-bottom: 32px;
    }
    ul{
        
        @include fs(32px, 45px);
        margin-bottom: 16px;
    }
    img{
        margin: 0px 12px;
    }
}